* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tiny5", sans-serif;
}

/* UTILITIES */
.container {
  background-color: #A7CDE5;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

/* BODY */

#lista {
  list-style: none;
  margin-top: 40px;
}

li {
  color: #B80106;
  font-weight: bold;
  font-size: 2rem;
  width: 120px;
  height: 80px;
  background-color: #00467D;
  margin: 0 25px;
  padding: 25px;
  border: 1px solid #B80106;
  border-radius: 24px;
  box-shadow: 5px 5px black;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}


#timer {
  color: #B80106;
  font-size: 5rem;
}

.hide {
  display: none;
}

input {
  color: #B80106;
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
  width: 120px;
  height: 80px;
  background-color: #00467D;
  margin: 0 25px;
  padding: 25px;
  border: 1px solid #B80106;
  border-radius: 24px;
  box-shadow: 5px 5px black;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

input:hover {
  transition: 0.5s ease;
  transform: translate(5px, 5px);
  box-shadow:none
}

#btnConferma {
  font-size: 2rem;
  background-color: #B80106;
  margin-top: 30px;
  border-radius: 24px;
  box-shadow: 5px 5px black;
  width: 160px;
  height: 80px;
}
#btnConferma:active {
  transition: 0.5s ease;
  transform: translate(5px, 5px);
  box-shadow:none
}
