* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "Tiny5", sans-serif;
}


/* UTILITIES */
.container {
  background-color: #A7CDE5;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

/* BODY */

#lista {
  list-style: none;
  margin-top: 40px;
}

li {
  width: 80px;
  height: 80px;
  background-color: #00467D;
  margin: 0 25px;
  padding: 25px;
  border: 1px solid #B80106;
  border-radius: 24px;
  box-shadow: 5px 5px black;
}

li:hover {
  transition: 0.5s ease;
  transform: translate(5px, 5px);
  box-shadow:none
}